.container {
  display: grid;
  /* grid-template-rows: 100px 800px 100px; */
}

.header {
  display: grid;
  justify-content: center;
  height: 100px;
  background-color: #7CAD54;
}

.content {
  display: grid;
  width: 100%;
}

.footer {
  display: grid;
  justify-content: center;
  height: 100px;
  background-color: #6A61D6;
}

.img {
  width: 100%;
}


/* The overlay effect*/
.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
.container:hover .overlay {
  opacity: 1;
}
